[submodule "libraries/libc/cdt-musl"]
	path = libraries/libc/cdt-musl
	url = https://github.com/AntelopeIO/cdt-musl
[submodule "libraries/libc++/cdt-libcxx"]
	path = libraries/libc++/cdt-libcxx
	url = https://github.com/AntelopeIO/cdt-libcxx
[submodule "libraries/native/softfloat"]
	path = libraries/native/softfloat
	url = https://github.com/AntelopeIO/berkeley-softfloat-3
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project
	branch = release/16.x
